<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
</head>
<body>
<h1 th:text="${title}">Customer Profile</h1>    
<p><strong>Name:</strong> <span th:text="${customer.name}">Customer Name</span></p>
<p><strong>Email:</strong> <span th:text="${customer.email}">Customer Email</span></p>
<p><strong>Address:</strong> <span th:text="${customer.address}">Customer Address</span></p>
</body>

</html>