backend-api/src/main/resources/application.properties
backend-api/src/main/resources/static/shop-images
backend-api/src/main/resources/static/seller-images
backend-api/src/main/resources/application.properties
