
/* Log in panel */

.login-panel {
    display: none;
    position: fixed;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 300px;
    height: 100vh;
    right: 0;
    z-index: 1000;
}

.login-panel h2 {
    padding: 20px;
}

.show {
    display: block;
}

.panel-buttons {
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.panel-buttons a {
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-decoration: none;
    text-align: center;
}

.panel-buttons .sell-now {
    padding: 10px!important;
}

.log-in-out {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 10px;
}

.sign-in {
    color: black;
    font-size: large;
    background-color: grey;
}

.sign-up {
    color: white;
    font-size: large;
    background-color: black;
}

.sell-now {
    color: white;
    background-color: #FFB71B;
}

/* Logged-in Customer/Seller*/
.panel-links a {
    text-align: right;
}