* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky!important;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    background-color: #FFB71B;
}

/* Nav left */

.nav-left {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 50px;
    gap: 20px;
}

.nav-left button {
    border: none;
    background-color: transparent;
}

.menu-button span {
    font-size: larger;
    color: white;
}

.menu-dropdown {
    display: flex;
    align-content: center;
    position: relative;
    display: inline-block;
}

/* Show the dropdown content on hover */
.menu-dropdown:hover .menu-content {
    display: block;
}

/* Change the background color of dropdown button on hover */
.menu-dropdown:hover .navbar.menu-button {
    border-radius: 5px;
    background-color: #3e8e41;
}

.navbar.menu-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.navbar.menu-button button:hover {
    background-color: #f1f1f1;
}

.navbar.menu-button span {
    font-size: large;
    color: white;
}

.menu-content {
    display: none; 
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Nav center */
.nav-center {
    max-width: 800px;
    width: 100%;
    justify-self: center;
    display: flex;
    position: relative;
}

.search-bar {
    margin: 0 auto;
    min-width: 600px;
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black; /* changes the color of the text in the search bar when you click out */
}

.search-bar:focus {
    color: black;
}

.search-button {
    min-width: 40px;
    height: 36px;
    border: 1px solid black;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-container {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-container form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/* Nav-right */

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.nav-button {
    font-size: larger;
}

.icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    color: white;
}

.icons button:hover {
    cursor: pointer;
}

.icons button {
    border: none;
    background: transparent;
    color: white;
    font-size: 30px;
}

.icons section {
    display: flex;
    gap: 30px;
}

.nav-button {
    background: transparent;
    color: black;
    font-size: larger;
}


